<h1>Informacje o artykule</h1>
<ul style="list-style-type:none">
<li><h1>Tytuł </h1><%= @article.title %> </li>
<li><h1>Opis </h1><%= @article.description %> </li>

<p>
    <button><%= link_to "Edytuj", edit_article_path(@article)%></button>
    <button><%= link_to "Usuń", article_path(@article), method: :delete ,data: { confirm: "Na pewno chcesz usunąć artykuł?"}%></button>
    <button><%= link_to "Wróć", articles_path %></button>
</p>

</ul>
