<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
  <div class="container-fluid">
    <%= link_to "Strona główna", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
         <%= link_to "Użytkownicy", users_path,class: "nav-link" %>
        </li> 

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href=<%=articles_path%> id="navbar-dropdown-articles" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Artykuły
          </a>
          <div class="dropdown-menu" aria-labelledby="navbar-dropdown-articles">
            <%= link_to "Artykuły", articles_path, class: "dropdown-item"%>
            <% if logged_in?%>
              <%= link_to "Nowy artykuł", new_article_path, class: "dropdown-item"%>
            <% end%>
          </div>
        </li>

        <% if logged_in? && current_user_admin? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href=<%=categories_path%> id="navbar-dropdown-articles" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Kategorie
            </a>
            <div class="dropdown-menu" aria-labelledby="navbar-dropdown-articles">
              <%= link_to "Kategorie", categories_path, class: "dropdown-item"%>
                <%= link_to "Nowa kategoria", new_category_path, class: "dropdown-item"%>
            </div>
          </li>
        <% end%>  

        <% if logged_in? %>
        <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href=<%=user_path(current_user)%> id="navbar-dropdown-articles" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           <%= "[Admin] " if current_user_admin? %><%= current_user.username %>
          </a>
            <div class="dropdown-menu" aria-labelledby="navbar-dropdown-user">
                <%= link_to "Zobacz profil", user_path(current_user), class: "dropdown-item" %>
                <%= link_to "Edytuj profil", edit_user_path(current_user), class: "dropdown-item" %>
                <%= button_to "Usuń profil", user_path(current_user), class: "dropdown-item text-danger", method: :delete, data: {confirm: "Na pewno chcesz usunąć profil?"}%>
            </div>
        </li>

          <li class="nav-item">
            <%= link_to "Wyloguj", logout_path, class: "nav-link", method: :delete %>
          </li> 
        <% else %>  
        <li class="nav-item">
          <%= link_to "Logowanie", login_path, class: "nav-link" %>
        </li> 
         <li class="nav-item">
          <%= link_to "Rejestracja", signup_path, class: "nav-link" %>
        </li> 
        <% end%>

      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>