<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
  <div class="container-fluid">
    <%= link_to "Strona główna", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <%
=begin%>
 <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Strona główna</a>
        </li> 
<%
=end%>
        <%
=begin%>
 <li class="nav-item">
         <%= link_to "Artykuły", articles_path,class: "nav-link" %>
        </li> 
<%
=end%>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href=<%=articles_path%> id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Artykuły
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Artykuły", articles_path, class: "dropdown-item"%>
            <%= link_to "Nowy artykuł", new_article_path, class: "dropdown-item"%>
            <%
=begin%>
 <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li> 
<%
=end%>
          </div>
        </li>
        <%
=begin%>
 <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> 
<%
=end%>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>